<hr>

<div class="contact">

  <h2>CONTACT US</h2>
    <A NAME="contact">



  <form action="https://formspree.io/sauntermarketing@gmail.com"
        method="POST">
      <div class="name-email">


        <label><span>NAME</span><input type="text" name="name"></label>
        <label><span>EMAIL</span><input type="email" name="_replyto"></label>

      </div>
      <label><span>MESSAGE</span><textarea name="message" rows="8" cols="40"></textarea></label>

      <div class="submit-wrap">


        <input type="submit" value="Send">
      </div>
  </form>

</div>
