<body>
  <div id="root">
    <div id="root_footer"></div>
  </div>
  <div id="footer">

  </div>

  <footer>
    <div class="social_icons">

      <nav>

        <a href="https://www.instagram.com/sauntermarketing/">INSTAGRAM</a>
        <a href="https://dribbble.com/olivernewtonthompson">DRIBBBLE</a>
        <a href="https://www.facebook.com/Saunter-Marketing-495099217346472/">FACEBOOK</a>
      </nav>


    </div>



    <div class="logo-bottom"> 2016 Saunter Marketing. All rights reserved</div>

  </footer>





</body>
