<section class="provisions-work">
    <h4>PROVISIONS</h4>
    <p><strong>Provisions is a </strong> a company created around the idea of the necessities. These are the quiet statements in every outfit. Welcome to American Made Streetwear.
      We took this to heart when designing their logo for them, we wanted to create something simple but that would stand the test of time. This carried over through to the website and other marketing material as well. Check out Provisions!
    </p>


    <img src="/assets/img/work/proj-1/thumb2.png" alt="pooppic" />
    <img src="/assets/img/work/proj-1/website.jpg" alt="pooppic" />

    <img src="/assets/img/work/proj-1/thumb.jpg" alt="pooppic" />









</section>
