
<section class="weare">
  <img src="" alt="" />
  <h2>WE ARE SAUNTER</h2>

  <p>
    Saunter is a small group of designer/developers/photographers/video experts.
    We all believe in effective marketing and design and are fully dedicated to marketing and design solutions
     for you and your customers.


  </p>


  <h4>THE PEOPLE</h4>


  <div class="thumb-container-us">
    {% for project in site.data.settings.whoweare %}
    <a href="{{ project.file }}" class="thumb-unit" style="background-image: url(/assets/img/us/{{ project.folder }}/thumb.jpg);">
      <div class="thum-overlay">
        <strong>{{ project.name }}</strong>
        <div class="zoom-icon"></div>
      </div>
    </a>
    {% endfor %}
  </div>








</section>
