<!-- NOTE: WHAT WE DO -->

  <div class="whatwedo">



    <h1>WHAT WE DO</h1>



    <div class="wedolist">


      <div class="breakdown1">


        <div class="list-design">
          <br><strong>DESIGN</strong>
          <br>  Web design
          <br>  Interface design (UI)
          <br>  User Experience (UX)
          <br>  Branding & identities
          <br>  Print design
          <br>  Video production
          <br>  Mobile websites
        </div>


        <div class="development-title">

        </div>

        <div class="list-development">
          <br><strong>DEVELOPMENT</strong>
          <br> Front end
          <br> Responsive Design
          <br> jQuery/Javascript
          <br> Ease of Navigation
        </div>
      </div>


      <div class="breakdown2">


        <div class="list-social">
          <br><strong>SOCIAL MEDIA</strong>
          <br> Managment
          <br>Growth
          <br>Content creation

        </div>



        <div class="list-photo">
          <br><strong>PHOTO</strong>
          <br> Commercial
          <br> Residental
          <br> Product
          <br> Portrait
        </div>


      </div>

    </div>

  </div>

<!-- NOTE: you+me -->


<div class="youus">
  <h1>YOU + US</h1>

  <div class="contentyouandme">



    <div class="relationships">



      <p><strong>It's all about relationships.</strong><br>Relationships are the foundation to any experience. We help you understand existing and create new relationships with your audience through the digital channel. We study, understand and work with your identity ensuring continuity and clarity for your users. Always.
  We help you reach out to your audience, by communicating your message in the most appropriate way for the medium. Our process involves working from your content up in a design led manner.

      </p>
    </div>


    <div class="blank">



      <p><strong>       </strong><br>
      </p>
    </div>

    <div class="little_things">



      <p><strong>It's the little things</strong><br>...that make all the difference. You know, the little details we all take for granted but if taken away feel like a massive gap?
We're dedicated to our work and truly love what we do. The ultimate reward for us is to see our clients succeed.
Our process is iterative so we're constantly improving, innovating and finding new ways of doing things. We're smart, creative and full of bright ideas.
      </p>
    </div>

  </div>
</div>



<!-- NOTE: learn build love -->

<div class="learnbuildlove">

  <div class="learn">

    <p>
      <br><h1>LEARN</h1><br><strong>It all starts with you.</strong> We're not the type of people who think we know better. It is your business and you know what it's all about. We would start by learning about you, your company, your product and your audience.

This process can take a little time but trust us, we make up for it later on in the process. The more we have to start with, the less back and forth later on. As they say, knowledge is power huh? Next step in the process, building.
    </p>

  </div>


  <div class="BUILD">

    <p>
      <br><h1>BUILD</h1><br><strong>Now this is getting exciting.</strong> We've learnt about you, we have loads of information and we can start building efficiently rather than making educated guesses. Guesses are time consuming, and costly. We don't really like that.

Many agencies would present you with designs completely out of context, we don't. Because we work from your content out, anything we show you would be a true representation of what the final product would look and feel like.
    </p>
  </div>


  <div class="LOVE">

    <p>
      <br><h1>LOVE</h1><br><strong>This is the best part,</strong>This is the best part, releasing the work to your audience. We call this bit love because we believe it is the key to growth. Love your product and beautiful things will start happening. You will find work easier and your audience will respond differently.

What matters is what people make of your business, not what you think of it. The real reward comes when relationships are forming, between you and your product, you and your audience, you and us.
    </p>
  </div>

</div>

<!-- NOTE: work page -->



{% include work.html %}



<!-- NOTE: BLOG -->

<section class="blog">
  <img src="" alt="" />
  <h2 id="blog">CHECK OUT OUR BLOG</h2>




  <a href="http://saunter-marketing.tumblr.com/" class="what-we-do">
    <button action="blog.index.html" type="what-we-do" name="WHAT WE DO">BLOG</button>
  </a>


</section>


<!-- NOTE: contact -->
<hr>

<div class="contact">

  <h2 id="contact">CONTACT US</h2>
    <A NAME="contact">



  <form class="formcontact" action="https://formspree.io/sauntermarketing@gmail.com"
        method="POST">
      <div class="name-email">


        <label><span>NAME</span><input type="text" name="name"></label>
        <label><span>EMAIL</span><input type="email" name="_replyto"></label>

      </div>
      <label><span>MESSAGE</span><textarea name="message" rows="8" cols="40"></textarea></label>

      <div class="submit-wrap">


        <input type="submit" value="Send">
      </div>
  </form>


</div>
